<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="rosademo" version="3.0">
    <servlet>
        <servlet-name>iiif2</servlet-name>
        <servlet-class>rosa.iiif.presentation.endpoint.IIIFPresentation2Servlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>iiif3</servlet-name>
        <servlet-class>rosa.iiif.presentation.endpoint.IIIFPresentation3Servlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>rosa.iiif.presentation.endpoint.DataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>wa</servlet-name>
        <servlet-class>rosa.iiif.presentation.endpoint.WebAnnotationServlet</servlet-class>
    </servlet>    

    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>iiif2</servlet-name>
        <url-pattern>/iiif/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>iiif3</servlet-name>
        <url-pattern>/iiif3/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>wa</servlet-name>
        <url-pattern>/wa/*</url-pattern>
    </servlet-mapping>    
</web-app>
